.banner{
    background-image: url(../../assets/images/bg.png);
    background-repeat: no-repeat;
    margin: 0px auto;
    padding: 80px 60px 160px 80px;
}
.appoinment{
    background-image: url(../../assets/images/appointment.png);
}